<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container border mt-5 p-3 small-form">
        <h1>
            Success
        </h1>
        <hr />
    </div>
</body>

</html>